*.iml
.gradle/
.gradle-user/
.android-user/
.kotlin/
.idea/
local.properties
build/
captures/
.externalNativeBuild/
.cxx/
app/build/
*.apk
*.aab
*.jks
*.keystore
keystore.properties
signing.properties
Thumbs.db
.DS_Store
